<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebug.dao.FinalCountCheckMapper">
  <resultMap id="BaseResultMap" type="com.littlebug.bean.FinalCountCheck">
    <id column="f_count_check_id" jdbcType="VARCHAR" property="fCountCheckId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
    <result column="sample" jdbcType="INTEGER" property="sample" />
    <result column="check_number" jdbcType="INTEGER" property="checkNumber" />
    <result column="unqualify" jdbcType="INTEGER" property="unqualify" />
    <result column="qualify" jdbcType="DECIMAL" property="qualify" />
    <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
    <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <association property="empName" jdbcType="VARCHAR" resultMap="EmployeeNameResultMap"/>
  </resultMap>
  <resultMap id="EmployeeNameResultMap" type="string">
    <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
  </resultMap>
  <sql id="Base_Column_List">
    f_count_check_id, order_id, check_item, sample, check_number, unqualify, qualify, 
    cdate, measure_data, emp_id, result, note
  </sql>
  <sql id="Specify_fc_Colum_List">
    fc.f_count_check_id, fc.order_id, fc.check_item, fc.sample, fc.check_number, fc.unqualify, fc.qualify,
    fc.cdate, fc.measure_data, fc.emp_id, fc.result, fc.note
  </sql>
  <sql id="LikeSearchValue">
    like #{searchValue}
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from final_count_check
    where f_count_check_id = #{fCountCheckId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from final_count_check
    where f_count_check_id = #{fCountCheckId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.littlebug.bean.FinalCountCheck">
    insert into final_count_check (f_count_check_id, order_id, check_item, 
      sample, check_number, unqualify, 
      qualify, cdate, measure_data, 
      emp_id, result, note
      )
    values (#{fCountCheckId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{checkItem,jdbcType=VARCHAR}, 
      #{sample,jdbcType=INTEGER}, #{checkNumber,jdbcType=INTEGER}, #{unqualify,jdbcType=INTEGER}, 
      #{qualify,jdbcType=DECIMAL}, #{cdate,jdbcType=TIMESTAMP}, #{measureData,jdbcType=VARCHAR}, 
      #{empId,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.littlebug.bean.FinalCountCheck">
    insert into final_count_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fCountCheckId != null">
        f_count_check_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="checkItem != null">
        check_item,
      </if>
      <if test="sample != null">
        sample,
      </if>
      <if test="checkNumber != null">
        check_number,
      </if>
      <if test="unqualify != null">
        unqualify,
      </if>
      <if test="qualify != null">
        qualify,
      </if>
      <if test="cdate != null">
        cdate,
      </if>
      <if test="measureData != null">
        measure_data,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fCountCheckId != null">
        #{fCountCheckId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="sample != null">
        #{sample,jdbcType=INTEGER},
      </if>
      <if test="checkNumber != null">
        #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualify != null">
        #{unqualify,jdbcType=INTEGER},
      </if>
      <if test="qualify != null">
        #{qualify,jdbcType=DECIMAL},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.littlebug.bean.FinalCountCheck">
    update final_count_check
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        check_item = #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="sample != null">
        sample = #{sample,jdbcType=INTEGER},
      </if>
      <if test="checkNumber != null">
        check_number = #{checkNumber,jdbcType=INTEGER},
      </if>
      <if test="unqualify != null">
        unqualify = #{unqualify,jdbcType=INTEGER},
      </if>
      <if test="qualify != null">
        qualify = #{qualify,jdbcType=DECIMAL},
      </if>
      <if test="cdate != null">
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        measure_data = #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where f_count_check_id = #{fCountCheckId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.littlebug.bean.FinalCountCheck">
    update final_count_check
    set order_id = #{orderId,jdbcType=VARCHAR},
      check_item = #{checkItem,jdbcType=VARCHAR},
      sample = #{sample,jdbcType=INTEGER},
      check_number = #{checkNumber,jdbcType=INTEGER},
      unqualify = #{unqualify,jdbcType=INTEGER},
      qualify = #{qualify,jdbcType=DECIMAL},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      measure_data = #{measureData,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where f_count_check_id = #{fCountCheckId,jdbcType=VARCHAR}
  </update>




  
  
  
  
  
  <select id="selectPagination" resultMap="BaseResultMap">
    select
    <include refid="Specify_fc_Colum_List"/>,
    e.emp_name
    from final_count_check fc
    left outer join employee e
    on fc.emp_id = e.emp_id
    limit #{limit} offset #{offset}
  </select>

  <!--成品计数质检编号查询-->
  <select id="searchFCountCheckByFCountCheckId" resultMap="BaseResultMap">
    select
    <include refid="Specify_fc_Colum_List"/>,
    e.emp_name
    from final_count_check fc
    left outer join employee e
    on fc.emp_id = e.emp_id
    <where>
      f_count_check_id <include refid="LikeSearchValue" />
    </where>
    limit #{limit} offset #{offset}
  </select>

  <!--订单编号片段查询-->
  <select id="searchFCountCheckByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Specify_fc_Colum_List"/>,
    e.emp_name
    from final_count_check fc
    left outer join employee e
    on fc.emp_id = e.emp_id
    <where>
      order_id <include refid="LikeSearchValue" />
    </where>
    limit #{limit} offset #{offset}
  </select>
</mapper>