<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlebug.dao.ProcessMeasureCheckMapper">
  <resultMap id="BaseResultMap" type="com.littlebug.bean.ProcessMeasureCheck">
    <id column="p_measure_check_id" jdbcType="VARCHAR" property="pMeasureCheckId" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
    <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
    <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    p_measure_check_id, process_id, check_item, cdate, measure_data, emp_id, result, 
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from process_measure_check
    where p_measure_check_id = #{pMeasureCheckId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from process_measure_check
    where p_measure_check_id = #{pMeasureCheckId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.littlebug.bean.ProcessMeasureCheck">
    insert into process_measure_check (p_measure_check_id, process_id, check_item, 
      cdate, measure_data, emp_id, 
      result, note)
    values (#{pMeasureCheckId,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR}, #{checkItem,jdbcType=VARCHAR}, 
      #{cdate,jdbcType=TIMESTAMP}, #{measureData,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.littlebug.bean.ProcessMeasureCheck">
    insert into process_measure_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pMeasureCheckId != null">
        p_measure_check_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="checkItem != null">
        check_item,
      </if>
      <if test="cdate != null">
        cdate,
      </if>
      <if test="measureData != null">
        measure_data,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pMeasureCheckId != null">
        #{pMeasureCheckId,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.littlebug.bean.ProcessMeasureCheck">
    update process_measure_check
    <set>
      <if test="processId != null">
        process_id = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        check_item = #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        measure_data = #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where p_measure_check_id = #{pMeasureCheckId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.littlebug.bean.ProcessMeasureCheck">
    update process_measure_check
    set process_id = #{processId,jdbcType=VARCHAR},
      check_item = #{checkItem,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      measure_data = #{measureData,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where p_measure_check_id = #{pMeasureCheckId,jdbcType=VARCHAR}
  </update>
</mapper>